# .pre-commit-config.yaml
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0 # Use a versão mais recente disponível
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive

      - id: terraform_validate
        args:
          - --hook-config=--retry-once-with-cleanup=true

      # - id: terraform_docs
      #   args:
      #     - --hook-config=--path-to-file=README.md
      #     - --hook-config=--add-to-existing-file=true
      #     - --hook-config=--create-file-if-not-exist=true

      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
